<html>

<head>
    <title>Pizzax</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="container rounded-full mx-auto flex items-center justify-between border    shadow-xl">
        <div>
            <a href="/"><img class="h-20 w-20 ml-6" src="/img/logo.png" alt="LOGO"></a>
        </div>
        <div>
            <ul class="flex items-center mr-6">
                <li class="ml-6"><a href="/offers">Offers</a></li>
                <li class="ml-6"><a href="/menu">Menu</a></li>

                <li class="rounded-full ml-6"><a href="/cart" class="flex inline-block px-4 py-1">
                        <span id="cartCounterId" class="text-white pr-1">{{#if session.cart }}{{session.cart.totalQty}}
                            {{else}}0{{/if}}</span><img src="/img/cart.png" alt="cart"></a>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}
</body>

</html>